<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Admin/IdeaProjects/selenium/src/main/java/resolver/Resolvertask.java">
        <classes>
            <class name="resolver.Resolvertask">
                <methods>
                    <include name="task1"/>
                    <include name="task2"/>
                    <include name="task3"/>
                    <include name="task4"/>
                    <include name="task5"/>
                    <include name="Task6"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>